{% extends 'dashboard-base.html' %} {% block head %} {% endblock %} {% block
body %}
<div class="row no-gutters">
  <div class="col-12 pr-lg-2 mb-3">
    <div class="card h-lg-100 overflow-hidden">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="mb-0">All Languages</h6>
          </div>
          <div class="col-auto text-center pr-card">
            <button class="btn btn-sm btn-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        {% for l in languagesInfo%}
        <div
          class="row no-gutters align-items-center py-2 position-relative border-bottom border-200"
        >
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mr-3">
                <div
                  class="avatar-name rounded-circle bg-soft-primary text-dark"
                >
                  <span class="fs-0 text-primary">{{l.id}}</span>
                </div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center">
                  <a
                    class="text-800 stretched-link"
                    data-toggle="collapse"
                    href="#{{l.name}}_{{l.id}}"
                    >{{l.name.capitalize()}}</a
                  ><span class="badge badge-pill ml-2 bg-200 text-primary"
                    >{{l.code.upper()}}</span
                  >
                </h6>
              </div>
            </div>
          </div>
          <!-- <div class="col py-1">
            <div class="row ml-auto flex-end-center no-gutters"></div>
            <i>Edit</i>
            <i>Delete</i>
          </div> -->
        </div>

        <div id="{{l.name}}_{{l.id}}" class="collapse">
          <div class="card-body">
            <div class="section">
              <div class="section-heading"><h5>Language Details</h5></div>
              <div class="section-body">
                <form method="POST">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="">Name</label>
                      <input
                        name="name"
                        placeholder="Enter langage name"
                        type="text"
                        class="form-control"
                        value="{{l.name}}"
                        required
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="">Code</label>
                      <input
                        name="code"
                        placeholder="Enter language code"
                        type="text"
                        class="form-control"
                        value="{{l.code}}"
                        required
                      />
                    </div>
                    <input type="text" name="id" value="{{l.id}}" hidden />
                    <div class="form-group col-12">
                      <input
                        class="btn btn-primary btn-sm"
                        name="language"
                        type="submit"
                        value="Save Changes"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr />
            <div class="section">
              <div class="section-heading"><h5>Facebook Page Details</h5></div>
              <div class="section-body">
                <form method="POST">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="">Page Id</label>
                      <input
                        name="page_id"
                        placeholder="Enter Facebook Page Id"
                        type="text"
                        class="form-control"
                        value="{% if l.socialmedia.get('facebook') %}{{l.socialmedia.get('facebook').get('page_id')}}{% endif %}"
                        required
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="">Access Token</label>
                      <input
                        name="access_token"
                        placeholder="Enter Page Access Token"
                        type="text"
                        class="form-control"
                        value="{% if l.socialmedia.get('facebook') %}{{l.socialmedia.get('facebook').get('access_token')}}{% endif %}"
                        required
                      />
                    </div>
                    <input
                      type="text"
                      name="id"
                      value="{% if l.socialmedia.get('facebook') %}{{l.socialmedia.get('facebook').get('id')}}{% endif %}"
                      hidden
                    />
                    <input
                      type="text"
                      name="language_id"
                      value="{{l.id}}"
                      hidden
                    />
                    <div class="form-group col-12">
                      <input
                        class="btn btn-primary btn-sm"
                        name="facebook"
                        type="submit"
                        value="Save Changes"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
