{% extends 'base.html' %} {% block head %} {% include 'fonts/english-css.html'
%} {% endblock %} {% block body %}

<div class="container">
  <h1>Pakistan is the only muslim country having nuclear weapons</h1>
  <h2>Pakistan is the only muslim country having nuclear weapons</h2>
  <h3>Pakistan is the only muslim country having nuclear weapons</h3>
  <h4>Pakistan is the only muslim country having nuclear weapons</h4>
  <h5>Pakistan is the only muslim country having nuclear weapons</h5>
  <h6>Pakistan is the only muslim country having nuclear weapons</h6>
  <p>Pakistan is the only muslim country having nuclear weapons</p>
  <h1>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</h1>
  <h2>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</h2>
  <h3>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</h3>
  <h4>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</h4>
  <h5>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</h5>
  <h6>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</h6>
  <p>पाकिस्तान एकमात्र ऐसा मुस्लिम देश है जिसके पास परमाणु हथियार हैं</p>
  <h2>پاکستان واحد مسلم ملک ہے جوہری ہتھیار رکھتا ہے</h2>
  <h3>پاکستان واحد مسلم ملک ہے جوہری ہتھیار رکھتا ہے</h3>
  <h4>پاکستان واحد مسلم ملک ہے جوہری ہتھیار رکھتا ہے</h4>
  <h5>پاکستان واحد مسلم ملک ہے جوہری ہتھیار رکھتا ہے</h5>
  <h6>پاکستان واحد مسلم ملک ہے جوہری ہتھیار رکھتا ہے</h6>
  <p>پاکستان واحد مسلم ملک ہے جوہری ہتھیار رکھتا ہے</p>
</div>

{%endblock %}
